<form class="form" [formGroup]="filterForm" (ngSubmit)="submit()">
    <div class="form-group input">
        <div class="form-control-label">Введите тег:</div>
        <input class="form-control" name="keyWord" formControlName="keyWord" />
    </div>
    <div class="form-group">
        <button mat-flat-button color="primary" [disabled]="filterForm.invalid">
            <mat-icon aria-hidden="false">search</mat-icon>
        </button>
    </div>
</form>
<div class="filter-tags-wrapper">
    <mat-chip-list>
        <mat-basic-chip class="filter-tag" disableRipple="true" *ngFor="let tag of keyTags"
            >{{ tag }}
            <button class="filter-tag-btn" (click)="handleDeleteClick(tag)">
                <mat-icon class="filter-tag-icon">cancel</mat-icon>
            </button></mat-basic-chip
        >
    </mat-chip-list>
</div>
<div class="notes-list-container">
    <app-note-item routerLink="note" *ngFor="let note of notesList | filter: keyTags" [note]="note"></app-note-item>
</div>
